<h2>{{ userId ? 'მომხმარებლის პოსტები' : 'ყველა პოსტი' }}</h2>

<div class="pagination-controls">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">წინა</button>
  <span>გვერდი {{ currentPage }} / {{ totalPages }}</span>
  <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">შემდეგი</button>

  <select [(ngModel)]="postsPerPage" (change)="onPostsPerPageChange()">
    <option [ngValue]="10">10 პოსტი გვერდზე</option>
    <option [ngValue]="20">20 პოსტი გვერდზე</option>
    <option [ngValue]="50">50 პოსტი გვერდზე</option>
  </select>
</div>

<div *ngIf="userId; else allPostsTable" class="post-cards-container">
  <div class="card" *ngFor="let post of posts">
    <h3>{{ post.title }}</h3>
    <p>{{ post.body.substring(0, 100) }}...</p>
    <button (click)="openModal(post)">დეტალები</button>
  </div>
</div>

<ng-template #allPostsTable>
  <table class="data-table">
    <thead>
      <tr>
        <th>მომხმარებელი</th>
        <th>პოსტის სათაური</th>
        <th>მოქმედება</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{ getUserName(post.userId) }}</td>
        <td>{{ post.title }}</td>
        <td class="action">
          <button class="posts-button" (click)="openModal(post)">☰</button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<app-popup-modal 
  *ngIf="isModalOpen" 
  [title]="selectedPost!.title" 
  [body]="selectedPost!.body"
  (closeModal)="closeModal()">
</app-popup-modal>