@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #001414;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffee;
}
